{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header text-center">
                    <h2 class="card-title">Welcome to VeteranCare365</h2>
                </div>
                <h3 class="card-title">This assessment is designed to assist individuals who may be experiencing a crisis, helping them navigate through a difficult period. Ready for the Assessment?</h3>
                <div class="card-body text-center">
                    <button class="btn btn-primary" id="yes-button">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extrajs %}
<script>
    document.getElementById('yes-button').addEventListener('click', function() {
        window.location.href = '/question/1/';
    });
</script>
{% endblock extrajs %}
